/*_build
/*/*_build/
/*/*/*_build
/*/*/*/*_build
*/*/*/*_build
*/*/*/*/*/*_build
*/*/*/*/*/*/*_build
install
.vscode
thirdparty/*
tool/commonapi_core_gen/*
tool/commonapi_someip_gen/*
samples/mqtt/script/cert/*